<%= form_for @fund do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="modal-body">
    <div class="form-group">
      <%= f.label :name, t(".name") %>
      <%= f.text_field :name, class: "form-control", placeholder: t(".enter_name") %>
    </div>
    <div class="form-group">
      <%= f.label :total_money, t(".total_money") %>
      <%= f.text_field :total_money, class: "total_money form-control", placeholder:
        t(".enter_total_money"), readonly: true %>
    </div>
  </div>
  <hr>
  <div class="modal-body">
    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#user_form" data-whatever="@mdo">
      <i class="mdi mdi-account-plus"></i><%= t ".add_user" %></button>
    <table class="table">
      <thead>
        <tr>
          <th><%= t ".user_email" %></th>
          <th><%= t ".money" %></th>
          <th><%= t ".status" %></th>
          <th><%= t ".role" %></th>
          <th><%= t ".action" %></th>
        </tr>
      </thead>
      <tbody id="users">
        <tr>
          <%= fields_for "fund[user_funds_attributes][#{@key}]" do |uf| %>
            <%= uf.hidden_field :user_id, value: @user.id %>
            <%= uf.fields_for "user_attributes" do |u| %>
              <td>
                <div class="form-control" readonly><%= @user.email %></div>
              </td>
            <% end %>
            <%= uf.fields_for "histories_attributes[#{@key}]" do |h| %>
              <td>
                <div class="input-group">
                  <%= h.number_field :money, value: Settings.views.funds.form.default_money,
                    class: "money form-control" %>
                  <div class="input-group-append">
                    <span class="input-group-text">USD</span>
                  </div>
                </div>
                <%= h.hidden_field :status, value: true %>
              </td>
            <% end %>
            <td><%= label_tag @user.user_badge[:name], nil, class: @user.user_badge[:class] %></td>
            <td><%= uf.hidden_field :founder, value: true %><i class="mdi mdi-crown text-warning"></i></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <%= f.button yield(:button_text), class: "btn btn-success" %>
    <button type="button" class="btn btn-light" data-dismiss="modal"><%= t ".form_cancel" %></button>
  </div>
<% end %>
<%= render "modal" %>
