<%= provide :title, t(".funds") %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= t ".funds" %></h4>
        <table class="table">
          <thead>
            <tr>
              <th><%= t ".fund_name" %></th>
              <th><%= t ".total_money" %></th>
              <th><%= t ".founder" %></th>
              <th><%= t ".action" %></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "fund_detail", collection: @fund_details %>
          </tbody>
        </table>
        <%= pagy_bootstrap_nav(@pagy).html_safe %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "fund" %>
